@import "./index.scss";
html, body, #root {
  background-color: $primary-color;
  box-sizing: border-box;

.App {
  text-align: center;
  background-color: $primary-color;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  color: $light-color;
  box-sizing: border-box;
  @include flexbox(flex, column, space-between, flex-start);
  @include mobile() {
    padding: 0.5rem;
  }

 .main_content {
  @include flexbox(flex, row, space-between, flex-start);
     min-height: 100vh;
     min-width: 100%;
    box-sizing: border-box;

  .main_container {
    @include flexbox(flex, column, space-between, center);
     color: $light-color;
     flex-grow: 1;
   }

   .home_container {
    @include flexbox(flex, column, space-between, center);
    
    @include mobile() {
      padding: 0;
    }
      flex-grow: 1;
      overflow-y: auto;
      padding: 2rem;

      .movies_container {
        flex-wrap: wrap;

        @include mobile() {
          flex-direction: column;
        }
       
        .movie_container {
          flex-basis: calc(33.33% - 10rem);
          width: 80%;

          .movie_container_info{
            margin: 0;
            .movie_title {
              @include mobile() {
                font-size: $xs_mobile;
              }
            }

            .movie_synopsis {
              @include mobile() {
                font-size: 0.2rem;
              }
            }

               .movie_label {
                .movie_rating {
                  @include mobile() {
                    font-size:0.2rem;
                  }
                }

                 img {
                  @include mobile() {
                      width: 0.5rem;
                      height: 0.5rem;
                   }
                 }
            }
          }
        }
      }
   }
 }
}
}
