@import "./index.scss";
.App {
  text-align: center;
  background-color: $primary-color;
  min-height: 100vh;
  min-width: 100%;
  padding: 2rem;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: $light-color;
  gap:6rem;
  @include flexbox(flex, column, space-between, flex-start);
  &::-webkit-scrollbar { 
    display: none;
 }

 .main_content {
  @include flexbox(flex, row, space-between, flex-start);
     min-height: 100vh;
     width: 100%;
     gap:6rem;

  .main_container {
    @include flexbox(flex, column, space-between, center);
     width: 100%;
     text-align: center;
     font-size: calc(10px + 2vmin);
     color: $light-color;
   }
 }
}

