// Andreea - definire paleta de culori

$primary-color: #121212;
$secondary-color: #1F1B24;
$light-color: #FFF;
$movie-color: #f8f4ff;
$error-color: #CF6679;
$active-color: rgb(255, 227, 233, 0.3) ;
$success-color: #03DAc6 ;

$purple-border-color: #1F1B24;
$black-border-color: #000000;

$title-color: #BB86FC; 
$dark-blue-text: #424874;
$gray-blue-text: #666699;