$xxs: 0.7rem;
$xs : 0.8rem;
$s  : 0.9rem;
$m  : 1.0rem;
$l  : 1.2rem;
$xl : 1.4rem;
$xxl: 2.0rem;

$roboto-mono: 'Roboto Mono', sans-serif;
$brittany: 'Brittany Signature', sans-serif;
$frank-ruhl-libre:  'Frank Ruhl Libre', serif;
$longa-iberica: 'Longa Iberica', sans-serif;
$montserrat : 'Montserrat', sans-serif;