// Andreea - definire mixinuri

@mixin mobile {
    @media screen and (max-width: 468px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin bigger-laptop {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin monitor {
    @media screen and (min-width: 1800px) {
        @content;
    }
}

@mixin font ($family, $weight,  $size) {
    font-family : $family;
    font-weight : $weight;
    font-size   : $size;
}

@mixin flexbox ($display, $direction, $justify, $align) {
    display         : $display;
    flex-direction  : $direction;
    justify-content : $justify;
    align-items     : $align;
}