.empty_container {
    padding: 5rem 12rem; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;

    @include mobile() {
        padding: 2.5rem 6rem; 
    }

    p {
        font-size: $m;
        @include mobile() {
            font-size: $xxs;
        }
    }

    img {
        width: 5rem;
        height: 5rem;

        @include mobile() {
            height:2.5rem;
            width: 2.5rem;
        }
    }
}