.empty_container {
    padding: 5rem 12rem; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;

    p {
        font-size: 1rem;
    }

    img {
        width: 5rem;
        height: 5rem;
    }
}