@import "./mixins.scss";

.movies_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap:2rem;

    .movie_container {
        flex: 1 1;
        border: 1px solid gray;
        border-radius:10px;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;

        .movie_image {
            width: 15rem;
            height: 10rem;
            border-radius: 10px;
        }

        .movie_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            
            .movie_title {
                font-size: 1rem;
            }
    
            .movie_year, .movie_rating, .movie_votes {
                font-size: 0.9rem;
            }

            .movie_flex_item {
               @include flexbox(flex, row, center, center);
               gap:1rem;

                .movie_icon{
                    width: 1rem;
                    height: 1rem;
                }
            }

        }
    }
}