// Ruxandra

.movies_container {
    width: 100%;
    @include flexbox(flex, column, space-between, center);
    gap:2rem;
    font-family: $montserrat;
    box-sizing: border-box;

    @include mobile() {
        width: 100%;
    }
    
    .movie_container {
        @include flexbox(flex, row, space-between, flex-start);
      
            border: 1px solid $purple-border-color;
            border-radius:20px;
            width: 80%;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: cover;

        .movie_container_info {
            gap: 4rem;
            min-width: 100%;
            height: 20rem;

            @include mobile() {
                height: 10rem;
            }
            .movie_image {
                width: 15rem;
                height: 10rem;
                border-radius: 10px;
                border: 1px solid $black-border-color;
            }

            .movie_info {
                color: $light-color;
                min-width: 100%;
                height: 100%;
                @include flexbox(flex, column, space-between, center);
               

                .movie_info_background {
                    min-width: 100%;
                    background-color: rgb(0, 0, 0, 0.7);
                    border-radius: 20px 20px 18px 18px;
                    box-sizing: border-box;

                    @include flexbox(flex, column, center, center);

                    .movie_span {
                        color:$error-color;

                        @include mobile() {
                            font-size: $xxs_mobile;
                        }
                        @include tablet() {
                            font-size: $xs_mobile;
                        }
                    }
                  
                    .movie_title {
                        font-size: $xxl;
                        color: $error-color;
                        margin: 0;
                        padding-top: 1rem;

                        @include mobile() {
                            font-size: $s;
                        }
                        
                        @include tablet() {
                            font-size: $m;
                        }
                    }
                    .movie_categories{
                        @include flexbox(flex, row, center, center);
                        gap:1rem;
                        @include mobile() {
                            font-size: $xxs_mobile;
                        }
                        .movie_recommended {
                            background-color: $purple-border-color;
                            border-color: $active-color;
                            font-size: $xxs;

                            &:hover {
                                color:$dark-blue-text;
                            background-color: $movie-color;

                            }
                            @include tablet() {
                                font-size: $xs_mobile;
                            }
                            @include mobile() {
                                font-size: 0.3rem;
                                margin: 0;

                            }
                          
                        }
                    }

                    .arrow_icon{
                        @include mobile() {
                            width: 1rem;
                            height: 1rem;
                        }
                        width: 2rem;
                        height: 2rem;

                        &:hover {
                            color: $error-color;
                            cursor: pointer;
                        }
                    }
                
                    .movie_cast {
                        @include flexbox(flex, column, center, center);

                        .movie_cast_container {
                            @include flexbox(flex, row, center, center);
                            gap:2rem;

                            .movie_cast_items {
                                @include flexbox(flex, column, center, flex-start);

                                @include mobile() {
                                    font-size: $xxs_mobile;
                                }
                                @include tablet() {
                                    font-size: $xs_mobile;
                                }
                                font-size: $xs;
                                p {
                                    margin: 0;
                                    padding: 0.15rem;
                                }
                            }
                        }
                    }
                }
                
                .movie_year, .movie_rating, .movie_votes {
                    font-size: $s;

                    @include mobile() {
                        font-size:$xs_mobile;
                    }
                }

                .movie_synopsis {
                    padding: 0.5rem 1rem;
                    font-size: $s;

                    @include mobile() {
                        font-size:$xxs_mobile;
                    }
                    @include tablet() {
                        font-size:$xs_mobile;
                    }
                }

                .movie_flex_item {
                    @include flexbox(flex, row, space-between, center);
                    width: 95%;


                    .movie_label {
                        @include flexbox(flex, row, space-around, center);
                        gap:1rem; 
                        background-color: rgb(0, 0, 0, 0.6);
                        border-radius: 20px;
                        padding: 0 0.75rem;

                        .movie_rating {
                            @include mobile() {
                                font-size:$xxs_mobile;
                                padding: 0;
                            }
                        }
                    }

                    .movie_icon{
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }
    }

     .movie_recommended, .movie_not_recommended, .movie_average {
        border: 1px solid $success-color;
        background-color:$success-color;
        border-radius: 10px;
        padding: 0.5rem;
        font-size: $xxs;

        @include mobile() {
            font-size:$xxs_mobile;
            padding: 0.25rem;
        }
            
        &:hover {
            cursor: pointer;
            background-color:transparent;
            color:$success-color;
        }
    }

    .movie_not_recommended {
        border: 1px solid $error-color;
        color:$light-color;
        background-color: $error-color;

        &:hover {
            color:rosybrown;
        }
    }

    .movie_average {
        border: 1px solid $light-color;
        color:$light-color;
        background-color: $active-color;

        &:hover {
            color:rosybrown;
        }
    }
}