// Andreea

.search_container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;

    .search_icon {
        transform: rotate(90deg);

        &:hover {
            color: $title-color; 
        }
    }

    .search_input {
        padding: 0.5rem 1rem;
        width: 30%;
        float: left;
        border: none;
        background: none;
        border-bottom: 1px solid $light-color; 
        color:$light-color;

        &:focus {
        outline: none;
        border-bottom: 1px solid $title-color; 
        }
    }
}